header{

    background-color: rgba(166, 95, 47, 0.688);
    width: 100%;
}

.logo {

    height: 100px;
    padding: 8px 16px;
}

.bob {
    height: 25px;
}

a{
    text-decoration: none; 
    text-decoration-color: #FFFFFF;
}

.headbut {
  
    background-color: snow; 
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px; 
    font-size: 16px;
    line-height: 1; 
    color: #FFFFFF; 
    border: 1px solid rgba(255, 250, 250, 0.452);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.headbut:hover {
    background-color: rgba(255, 250, 250, 0.442); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.headbut:active {
    background-color: rgba(61, 48, 48, 0.86); 
    box-shadow: none; 
}

.top{
  size: 10%;
  padding: 1%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bottom{
  flex-direction: column;
  text-align: center;

  padding: 1%; 
}

body{
background-color: rgba(255, 250, 250, 0.798);

}


footer{

    background-color:#bdab53;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
}

.box {

    max-width: 33%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.Ah{
    padding: 1%;
}

.MasterAccountBox{
  
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1%; 

}

.accountBox {

    flex: 1 1 20%;
    padding: 2%;
    border: 1px;
    border-style: solid;
    border-color: black;
    
    text-align: center;


}